.jumbotron {
    margin-bottom: 0px;
}
.navbar {
    margin-bottom: 0px;
}
.container {
    background-color: #fcfcfc;
}
.modal-login.modal-dialog {
    margin-top: 80px;
}
.modal-login {
    color: #636363;
    width: 350px;
}
.modal-login .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #60c7c1;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
    width: 100%;
}
.pointer {
    cursor: pointer;
}
.table > thead > tr > th {
    vertical-align: middle;
}
.descriptionTD {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
section {
    padding: 15px;
}